{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <title>OF | LOGIN</title>
  </head>
  <body style='background-color:#242f3d;'>
    {% include 'navbar.html'  %}
    <div style='text-align:center;font-family:ubuntu;color:rgb(250,250,250);'>
      {% if request.user_agent.is_mobile %}
        <img src="{% static 'images/INSS-logo.png' %}" style='width:55%;height:auto;padding: 20px;'>
      {% else %}
        <img src="{% static 'images/INSS-logo.png' %}" style='width:15%;height:auto;padding: 20px; '>
      {% endif %}
        <h1 style="font-size: 100%;">INS Server is runing...</h1>
        <p>URL: {{ request.build_absolute_uri }}</p>
        <div style="display: inline-block;">
          <img src="{% static 'images/INSPP-logo.png' %}" style='width:70px;height:auto;padding: 20px;'>
          <img src="{% static 'images/INSHR-logo.png' %}" style='width:70px;height:auto;padding: 20px;'>
          <img src="{% static 'images/INSEA-logo.png' %}" style='width:70px;height:auto;padding: 20px;'>
          <img src="{% static 'images/INSHR-logo.png' %}" style='width:70px;height:auto;padding: 20px;'>
          <img src="{% static 'images/INSPP-logo.png' %}" style='width:70px;height:auto;padding: 20px;'>
          
        </div>
    <div>
        <p> <img src="{% static 'images/oculi-logo.png' %}" style='width:60px;'><br> By Oculi</p>
    </div>
    {% if request.user_agent.is_mobile %}
      <form style='height:130px;'></form>
    {% endif %}
    </div>

  </body>
</html>
