{% load static %}
{% include 'notifications_area.html' %}
<nav class="main-menu" style="position: fixed; ">
  <li style="padding-top: 13px;">                                   
    <a href="{% url 'home'  %}">
      <i style="padding-left: 10px; " > <img  src="{% static 'images/INSS-logo.png' %}" width="35px"> </i>
      <span class="nav-text">INS Server</span>
    </a>
  </li>    
  <div class="d" id="style-1">       
    <ul>
 
      
       {% include  user.profile.user_app.name|add:'-navbar.html' %}
      
      <li>                                   
        <a href="{% url 'mail_home' %}">
          <i style="padding-left: 10px;" > <img  src="{% static 'images/mail.png' %}" width="35px"> </i>
          <span class="nav-text">Mail</span>
        </a>
      </li> 

      <li class="darkerlishadow">
        <a href="{% url 'CCInboxMailView' %}" style="height: 30px;">
          <i></i>
          <span class="nav-text">CC Inbox</span>
        </a>
      </li>
      <li class="darkerli">
        <a href="{% url 'BCCInboxMailView' %}" style="height: 30px;">
          <i></i>
          <span class="nav-text">BCC Inbox</span>
        </a>
      </li>
      <li class="darkerli">
        <a href="{% url 'OutboxMailView' %}" style="height: 30px;">
          <i></i>
          <span class="nav-text">Outbox</span>
        </a>
      </li>
      <li class="darkerlishadowdown">
        <a href="{% url 'sendmail' %}" style="height: 30px;">
          <i></i>
          <span class="nav-text">New</span>
        </a>
      </li>
      
       <div class="settings"></div>
        <div class="scrollbar" id="style-1">       
      <ul>
    </div>
  </ul>
</div>
  <div style="bottom: 0;">
    {%if user.profile.user_app.name == 'INSM' %}
    <li style="vertical-align: bottom;height: 35px;bottom: 85px;position:absolute;">                                   
      <a href="{% url 'settings'  %}">
        <i style="padding-left: 10px;" > <img  src="{% static 'images/settings.png' %}" width="35px"> </i>
        <span class="nav-text">Settings</span>
      </a>
    </li>  
    {% endif %}

      <li style="vertical-align: bottom;height: 35px;bottom: 45px;position:absolute;">                                   
        <a href="{% url 'personal_storage' user.profile.storage_file_pk %}">
          <i style="padding-left: 10px;" > <img  src="{% static 'images/storage.png' %}" width="35px"> </i>
          <span class="nav-text">Storage</span>
        </a>
      </li>  
      <li style="vertical-align: bottom;height: 35px;bottom: 5px;position:absolute;">                                   
        <a href="{% url 'profile' %}">
          <i style="padding-left: 10px;" > <img  src="{% static 'images/profile.png' %}" width="35px"> </i>
          <span class="nav-text">Profile</span>
        </a>
      </li>   
    </div>                         
</nav>