{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INS | reloading...</title>
</head>
<body>
    
    <div class="loading-div" >
        <div style="height: 100px;width:max-content ; position: absolute; vertical-align: middle;">
            <div>
                <div class="loading-sub-div loading-sub-div-1"></div>
                <div class="loading-sub-div loading-sub-div-2"></div>
                <div class="loading-sub-div loading-sub-div-3"></div>
            </div>
        </div>
        <div style="position: absolute;bottom: 20%;">
            <h1>Reloading server...</h1>
            <p>Please wait</p>
        </div>
    </div>
    
</body>
</html>

