{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <title>INS | Add Raw material </title>
  </head>
  <body style="background-color:#0e1621; font-family: ubuntu; ">
    {% include 'navbar.html'  %}
    <form class="profile_out_form" method="POST" style="text-align: left;">
        <h2 style="text-align: center;">Add Raw material</h2>
        {% csrf_token %}
        <p style="width: 30%; display: inline-block;text-align: right;"> Name:   </p>{{ form.name|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Type:  </p>{{ form.m_type|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Code:  </p>{{ form.code|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Quantity:   </p>{{ form.quantity|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Unit:  </p>{{ form.unit|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Density:  </p>{{ form.density|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Low quantity warning:   </p>{{ form.loq_warning}} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Quantity:  </p>{{ form.loq_quantity|add_class:"field-style-2" }} <br>
        <p style="width: 30%; display: inline-block;text-align: right;"> Unit:  </p>{{ form.loq_unit|add_class:"field-style-2" }} <br>
        
        <button type='submit' class="btn_style_1"><img src="{% static 'inspp-icons/add.png' %}" alt="Add raw material" style="width: 30px;"></button>

    </form>

    {% if request.user_agent.is_mobile %}
      <form style='height:130px;'></form>
    {% endif %}
  </body>
</html>