{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <title>INS | Send mail </title>
    </head>
    <body style='background-color:#242f3d; scrollbar-color: #2b5278 rgba(0,0,0,0);' >
        {% include 'navbar.html' with current_page="INS" %}
        



        
        <div style=" display: inline-block;width: 100%;">
            <div class="tab-bar-v" style="height: min-content;display: inline-block;bottom:100%;vertical-align: top; ">
                <button class="tab-bar-v-btn" onclick="openTab1(event, 'Raw Materials')" id="defaultOpen" >Raw materials</button>
                <button class="tab-bar-v-btn" onclick="openTab1(event, 'Packing Materials')">Packing materials</button>
                <button class="tab-bar-v-btn" onclick="openTab1(event, 'Unpacked Products')">Unpacked products</button>
                <button class="tab-bar-v-btn" onclick="openTab1(event, 'Packed Products')">Packed products</button>
                <button class="tab-bar-v-btn" onclick="openTab1(event, 'orders')">Orders</button>
            </div>
            <div style="display: inline-block; width: 90%;color: white;right: 0; ">
                <div id="Raw Materials" class="tabcontent" >
                    <h3 >Raw Materials</h3>
                    <div style="width: 100%;text-align: right;">
                        <a href="{% url 'AddRawMaterial' %}"><img src="{% static 'inspp-icons/add.png' %}" alt="Add raw material" style="width: 30px;margin-bottom:20px;"></a>
                    </div>
                    <div style="height:75%;width:100%;overflow:auto;">
                    {% for material in RAWMATERIALS %}
                        <form action="{% url 'EditRawMaterial' material.id %}">
                            <input type="submit" class="btn-1"  style="width: 80%;" value="{{ material.name }}" />
                        </form>
                    
                    {% endfor %}
                    </div>
                </div>
                
                <div id="Packing Materials" class="tabcontent">
                    <h3>Packing Materials</h3>
                    <div style="width: 100%;text-align: right;">
                        <a href="{% url 'AddPackingMaterial' %}"><img src="{% static 'inspp-icons/add.png' %}" alt="Add packing material" style="width: 30px;margin-bottom:20px;"></a>
                    </div>
                    <div style="height:75%;width:100%;overflow:auto;">
                    {% for material in PACKINGMATERIAL %}
                        <form action="{% url 'EditPackingMaterial' material.id %}">
                            <input type="submit" class="btn-1"  style="width:80%;" value="{{ material.name }}" />
                        </form>
                    {% endfor %}
                    </div>
                </div>
                
                <div id="Unpacked Products" class="tabcontent">
                    <h3>Unpacked Products</h3>
                    <div style="width: 100%;text-align: right;">
                        <a href="{% url 'AddUnpackedProduct' %}"><img src="{% static 'inspp-icons/add.png' %}" alt="Add packing material" style="width: 30px;margin-bottom:20px;"></a>
                    </div>
                    <div style="height:75%;width:100%;overflow:auto;">
                        {% for material in UNPACKEDPRODUCT %}
                            <form action="{% url 'EditUnpackedProduct' material.id %}">
                                <input type="submit" class="btn-1"  style="width: 80%;" value="{{ material.name }}" />
                            </form>
                        {% endfor %}
                    </div>
                </div>

                <div id="Packed Products" class="tabcontent">
                    <h3>Packed Products</h3>
                    <div style="width: 100%;text-align: right;">
                        <a href="{% url 'AddPackedProduct' %}"><img src="{% static 'inspp-icons/add.png' %}" alt="Add packing material" style="width: 30px;margin-bottom:20px;"></a>
                    </div>
                    <div style="height:75%;width:100%;overflow:auto;">
                        {% for material in PACKEDPRODUCT %}
                            <form action="{% url 'EditPackedProduct' material.id %}">
                                <input type="submit" class="btn-1"  style="width: 80%;" value="{{ material.name }}" />
                            </form>
                        {% endfor %}
                    </div>
                </div>

                <div id="orders" class="tabcontent">
                    <h3>Orders</h3>
                    <div style="width: 100%;text-align: right;">
                        <a href="{% url 'AddOrder' %}"><img src="{% static 'inspp-icons/add.png' %}" alt="Add packing material" style="width: 30px;margin-bottom:20px;"></a>
                    </div>
                    <div style="height:75%;width:100%;overflow:auto;">
                        {% for material in ORDER %}
                            <form action="{% url 'EditOrder' material.id %}">
                                <input type="submit" class="btn-1"  style="width: 80%;" value="{{ material.name }}" />
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </body>

<script>
    function openTab1(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
</html>