





{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style/main.css' %}">
        <link rel=icon href="{% static 'images/INSPP logo.png' %}" sizes="16x16" type="image/png">
        <title>INS | Production Plan </title>
    </head>
    
    {% include 'navbar.html' %}
    
    
        <body class="body-style" >
        <div style="text-align: center;">

            {% if request.user_agent.is_mobile %}
                <img src="{% static 'images/INSPP-logo.png' %}" style='width:55%;height:auto;padding: 20px;animation: show-up 4s ;'>
            {% else %}
                <img src="{% static 'images/INSPP-logo.png' %}" style='width:15%;height:auto;padding: 20px; animation: show-up 4s ;'>
            {% endif %}


            {% if RAWMATERIALS.count %}
            <h1 class="typing-text">INS Production Plan</h1>
            <div class="card-style-2" style="width: 30%;display: inline-block;  animation: popup 0.5s ; " >
                <h1><div id="value">{{ RAWMATERIALS.count }}</div></h1>
                <p >Raw Materials</p>
                <div onclick="location.href='{% url 'RawMaterials'  %}';"  class="btn_style_1">OPEN REPOSITORY</div>
            </div>
            {% endif %}

            {% if PACKINGMATERIAL.count %}
            <div class="card-style-2" style="width: 30%;display: inline-block; animation: popup 0.8s ;" >
                <h1><div id="value2">{{ PACKINGMATERIAL.count }}</div></h1>
                <p>Packing Materials</p>
                <div onclick="location.href='{% url 'PackingMaterials' %}';"  class="btn_style_1">OPEN REPOSITORY</div>
            </div>
            <br>
            {% endif %}

            {% if UNPACKEDPRODUCT.count %}
            <div class="card-style-2" style="width: 30%;display: inline-block; animation: popup 1s ;" >
                <h1><div id="value3">{{ UNPACKEDPRODUCT.count }}</div></h1>
                <p>Unpacked Products</p>
                <div onclick="location.href='{% url 'UnpackedProducts' %}';"  class="btn_style_1">OPEN REPOSITORY</div>
            </div>
            {% endif %}

            {% if PACKEDPRODUCT.count %}
            <div class="card-style-2" style="width: 30%;display: inline-block; animation: popup 1.3s ;" >
                <h1><div id="value4">{{ PACKEDPRODUCT.count }}</div></h1>
                <p>Packed Products</p>
                <div onclick="location.href='{% url 'PackedProducts' %}';"  class="btn_style_1">OPEN REPOSITORY</div>
            </div>
            {% endif %}
            <br>

            {% if ORDER.count %}
            <div class="card-style-2" style="width: 30%;display: inline-block; animation: popup 2s ;" >
                <h1><div id="value5">{{ ORDER.count }}</div></h1>
                <p>Orders</p>
                <div onclick="location.href='{% url 'Orders' %}';"  class="btn_style_1">OPEN REPOSITORY</div>
            </div>
            {% endif %}

            
                

            {% if request.user_agent.is_mobile %}
            <form style='height:130px;'></form>
            {% endif %}
        </div>
    </body>
</html>   
</body>
