{% load static %}
<li>                                   
    <a href="{% url 'INSMHome' %}">
      <i style="padding-left: 10px;" > <img  src="{% static  'images/INSM-logo.png'  %}" width="35px"> </i>
      <span class="nav-text">INS Manager</span>
    </a>
</li> 
<li>                                   
    <a href="{% url 'INSPPHome' %}">
      <i style="padding-left: 10px;" > <img  src="{% static  'images/INSPP-logo.png'  %}" width="35px"> </i>
      <span class="nav-text">INS Production Plan</span>
    </a>
</li>  