.tab-bar-v{
    padding: 10px;
}

.tab-bar-v-btn{
    margin: 10px;
}

.tabcontent{
    text-align: center;
    color: seashell;
    font-family: ubuntu;
    border-radius: 5px;
    padding: 10px;
    background-color: #0e1621;
}