


@font-face {
  font-family: ubuntu;
  src: url(Ubuntu-Regular.ttf);
}


.navbar{

  background-color:#212c45;
  
  position: fixed;
  padding-top:10px;
  padding-bottom:5px;
  width:100%;
  margin:-10px;
  transition: 00.5s;
  

}


.navbar:hover{
  box-shadow: 5px 5px 5px 5px rgba(16, 71, 122, 0.4);
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-family: ubuntu;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
 .dropdown:hover .dropbtn {

  background-color:#324675;
  color: aliceblue;
  
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212c45;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #455783;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.header-buts{
  font-family: ubuntu;
  color:rgb(240,240,240);
  text-decoration:None;
  text-align:right;
  font-weight: bold;
  margin: 11%;
  padding:7px;
  
}

.btn-holder-mobile{
width: 30%;
display: inline-block;
}

.btn-holder-pc{
  width: 5%;
  display: inline-block;
  }

.INS-web-name{
  font-family: ubuntu;
  color:rgb(240,240,240);
  text-decoration:italic;


}


.current-page-button{
  
  background-color: #324675;
  
  padding-bottom: 5px;
  padding-top: 15px;
  border-radius: 10px;
  color:bisque;


  

}

.task-box{
  font-family: ubuntu;
  
  background-color: #212c45;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 0px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  border-color: black;
}

.done-task-box{
  border-width: 1px;
  border-color: #12d412;
}

.task-title{
  margin-bottom: 20px;
  color:rgb(255, 255, 255);
  display:inline-block;

}
.task-detail{
  color:rgb(106, 188, 255);
}


.btn_style_1{
  background-color:#324675;
  color: aliceblue;
  text-decoration:None;
  border: 0px;
  padding:10px;
  border-radius: 6px;
  transition: 0.5s;

}

.btn_style_1:hover{

  box-shadow: 4px 4px 1px 1px rgba(0,0,0,0.5);

}

.tab-bar-v-btn{
  width: 100%;
  background-color:#324675;
  color: aliceblue;
  border: 0px;
  text-decoration:None;
  padding:10px;
  margin-right: 10px;
  margin-left: -10px;
  margin-top: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list_item{
  margin: 10px;
  width: 100%;
  background-color: #212c45;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  line-height: 2px;
}

.list_item_2{
  margin: 10px;
  width: 90%;
  background-color: #212c45;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.2s;
  line-height: 2px;
}

.list_item_2:hover{
  box-shadow: 4px 4px 1px 1px rgba(0, 106, 155, 0.5);
}

.profile_out_form{
  color: #fff;
  width: auto;
  max-width: 700px;
  background-color: #212c45;
  margin-right:20%;
  margin-left:20% ;
  text-align: center ;
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto; 
  transition: 0.5s;
  

}

.profile_out_form:hover{
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
}

.profile-form{
  font-family: ubuntu;
  color: white;
  font-weight: bold;

  width: 100%;
  text-align: left ;
  margin: 0 auto; 
}

.field-style-1{
  
  color:white;
  background-color: #0e1621;
  border: 0px;
  padding:5px;
  border-radius: 6px;
  margin-top: 2px;
  margin-bottom: 20px;
  width: 100%;
  text-align:center;

}



.file {
  
  opacity: 0;
  width: 0px;
  height: 0px;

}




.field-style-2{
  
  -webkit-appearance: none;
  -moz-appearance: none;
  color:white;
  background-color: #0e1621;
  border: 0px;
  padding:5px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 45%;
  text-align:center;
}



.field-style-3{
  color:white;
  background-color: #0e1621;
  text-align-last: left;
  padding: 20px;
  border: 0px;
  border-radius: 10px;
  width:60%;
  height: 100px;
  margin: 0 auto; 
  margin-top: 10px;
  line-height: 25px;
  margin-bottom: -10px;
}

.field-style-4{
  color:white;
  background-color: #212c45;
  border: 0px;
  padding:5px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 60%;
  height: 60px;
  text-align:center;
}

.field-style-5{
  -webkit-appearance: none;
  -moz-appearance: none;
  color:white;
  background-color: #0e1621;
  border: 0px;
  padding:5px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 15%;
  text-align:center;
}


.task-item{
  color: white;
  font-family: ubuntu;

  width: 80%;
  max-width: 800px;
  background-color: #212c45;
  margin-right:20%;
  margin-left:20% ;
  text-align: left ;
  padding: 20px;
  border-radius: 20px;
  margin: 0 auto; 
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
}

.task-detail-body{
  color: white;
  font-family: ubuntu;

  width: 100%;
  max-width: 1500px;
  background-color: #212c45;

  text-align: center ;
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto; 
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
}


.task-detail-card{
  text-align-last: left;
  padding: 30px;
  background-color: #0e1621;
  border-radius: 20px;
  width:75%;
  margin: 0 auto; 
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}

.card-style-1{
  text-align-last: left;
  padding: 30px;
  background-color: #324675;
  border-radius: 20px;
  width:100%;
  width: auto;
  margin: 0 auto; 
  margin-top: 10px;
  line-height: 25px;
  transition:0.5s;
  
  

}
.card-style-1:hover{
  transform:translate3D(-10px,-10px,-10px);
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
}


.card-style-2{
  font-family: ubuntu;
  color: white;
  padding: 20px;
  background-color: #324675;
  border-radius: 10px;
  width:70%;
  width: auto;
  margin-top: 10px;
  line-height: 25px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  min-width: none;

 
}


.active_users_list {
  background-color: rgba(0,0,0,0);
  overflow: auto;
  width:90%;
  height:800px;
  margin-left:auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.6);
 
}

.active_users_list a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  text-decoration: none;
}


.active_user_item{
width:100%;
border-radius: 10px;
background-color: #212c45;
margin-top: 10px;
}







.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #19345e;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #0885ce;
}



.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #0e1621;
  line-height: 130px;
  text-align: right;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  text-align-last: center;
  font-weight: 400;
  font-size: 2em;
}




.page_button{
  font-family: ubuntu;
  text-decoration:none;
  background-color:#324675;
  color: aliceblue;
  margin: 2px; 
  text-decoration:None;
  border: 0px;
  padding:10px;
  margin-top: 10px;
  border-radius: 6px;
  
  
}




.page_button_div{
  display:inline-block ;
  transition: 0.5s;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.page_button_div:hover{
  transform:translateY(-15px);
  
  
}

.current_page_button{
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(98, 235, 34, 0.5);
}








.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tabs{
  display:inline-block ;
  margin-left: 20px;
}
.tab{
  background-color:#324675;
  display:inline-block ;
  color: aliceblue;
  text-decoration:None;
  border: 0px;
  transition: 0.5s;
  padding:10px;
  
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}
.tab:hover{
transform:translate3D(0px,-10px,-15px);

}


.panels{
  background:rgba(0,0,0,0);
 
  min-height:200px;
  width:90%;
  
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
  width: 100%;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel
{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  transform:translate3D(0px,-10px,-15px);
}
















#chart-container {
  font-family: Arial;
  height: 420px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

.orgchart {
  background: #fff; 
}
.orgchart td.left, .orgchart td.right, .orgchart td.top {
  border-color: #aaa;
}
.orgchart td>.down {
  background-color: #aaa;
}
.orgchart .middle-level .title {
  background-color: #006699;
}
.orgchart .middle-level .content {
  border-color: #006699;
}
.orgchart .product-dept .title {
  background-color: #009933;
}
.orgchart .product-dept .content {
  border-color: #009933;
}
.orgchart .rd-dept .title {
  background-color: #993366;
}
.orgchart .rd-dept .content {
  border-color: #993366;
}
.orgchart .pipeline1 .title {
  background-color: #996633;
}
.orgchart .pipeline1 .content {
  border-color: #996633;
}
.orgchart .frontend1 .title {
  background-color: #cc0066;
}
.orgchart .frontend1 .content {
  border-color: #cc0066;
}

#github-link {
  position: fixed;
  top: 0px;
  right: 10px;
  font-size: 3em;
}

    
#loader {
  border: 12px solid #212c45;
  border-radius: 50%;
  border-top: 12px solid #3eacff;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153,153,153);
}